asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
coreapi==2.3.3
coreschema==0.0.4
Django==5.0.6
django-allauth==0.63.1
django-cors-headers==4.3.1
django-filter==24.2
django-rest-auth==0.9.5
djangorestframework==3.15.1
idna==3.7
itypes==1.2.0
Jinja2==3.1.4
Markdown==3.6
MarkupSafe==2.1.5
mysqlclient==2.2.4
node==1.2.1
odict==1.9.0
plumber==1.7
requests==2.32.2
six==1.16.0
sqlparse==0.5.0
typing_extensions==4.11.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==6.0
zope.interface==6.4.post0
zope.lifecycleevent==5.0
zope.proxy==5.2
