/* src/components/Pedido.css */
.pedidos-container {
    padding: 20px;
}

.productos-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.producto-card {
    border: 1px solid #ddd;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.producto-imagen {
    width: 200px;
    height: 150px;
    border-radius: 8px;
}

.carrito-total {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.boton-carrito {

    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #213547;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 20px;
    color: white;  
    
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pedido-info-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pedido-info-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.boton-carrito {
    background-color: #213547;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.boton-carrito:hover {
    background-color: #1a2e3f;
}

.productos-list {
    list-style: none;
    padding: 0;
}

.producto-item {
    margin-bottom: 10px;
}

